.faq{
    height: 100vh;
    width: auto;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container{
    background-color: rgb(34, 52, 214);
    padding: 5vh;
    height: 50vh;
    margin: 5vw;
    border-radius: 5vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
@media (max-width: 600px){
    
}
